# ---- TS/React ----
node_modules/
build/
dist/
.cache/
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ---- Python (Django/Flask) ----
__pycache__/
*.py[cod]
*.pyd
*.egg-info/
*.egg
*.log
*.pot
*.mo
*.sqlite3
db.sqlite3
*.db

# ---- Virtual Envs ----
venv/
env/
.venv/
ENV/

# ---- Django-specific ----
media/
staticfiles/
**/migrations/__pycache__/
**/migrations/*.py[cod]

# ---- Flask-specific ----
instance/

# ---- General ----
.DS_Store
.env
.env.*
*.pid

# ---- IDEs and tooling ----
.vscode/
.idea/
*.swp
*.swo
