[submodule "MICROSERVICES-BACKEND-FLASK"]
	path = MICROSERVICES-BACKEND-FLASK
	url = https://github.com/Arnoldmosha60/MICROSERVICES-BACKEND-FLASK.git
[submodule "MICROSERVICES-BACKEND-DJANGO"]
	path = MICROSERVICES-BACKEND-DJANGO
	url = https://github.com/Arnoldmosha60/MICROSERVICES-BACKEND-DJANGO.git
[submodule "MICROSERVICES-FRONTEND-REACT-TS"]
	path = MICROSERVICES-FRONTEND-REACT-TS
	url = https://github.com/Arnoldmosha60/MICROSERVICES-FRONTEND-REACT-TS.git
